#container {
  margin: 1.5rem auto;
  max-width: 700px;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #FFE5B4;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.25rem;
  padding: 1rem;
}

button:hover {
  color: black;
  cursor: pointer;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.input {
  background: #f7f7f8;
  border: none;
  color: #535b72;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0.5rem;
}

input.button {
  background-color: #FFE5B4;
  border: none;
  color: #000;
  cursor: pointer;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.25rem;
  padding: 1rem;
}

input.button:hover {
  background-color: #ffd687;
  transition: 0.3s;
}

section {
  display: flex;
  flex-flow: column;
  margin-bottom: 1.5rem;
}

section.row {
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.plus {
  background-color: #FFE5B4;
  color: black;
  font-size: 3rem;
  line-height: 1rem;
  padding-bottom: 1.5rem;
}

.plus:hover {
  background-color: #ffd687;
  transition: 0.3s;
}

.repo-name {
  font-family: monospace;
  color: black;
  margin: 1rem 0;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.error {
  padding: 0.5rem;
  border: 1px solid #E8420C;
  background: #FF6400;
  color: white;
}

.success {
  padding: 0.5rem;
  background: #0E7F00;
  color: white;
}
